/*로그인, 회원가입,회원정보 수정, id찾기, pwd찾기, 마이페이지, 멤버십  CSS*/

/*로그인폼*/
.inner-container {
	height: 700px;
	top: calc(50vh - 200px);
	overflow: hidden;
}

.inner-container .box h1 {
	font-family: 'Nanum Myeongjo', serif;
	font-weight: bolder;
}

.box {
	top: 30%;
	position: absolute;
	width: 100%;
	font-family: Helvetica;
	color: black;
	padding: 0px 0px;
}

.box h1 {
	color: #34455a;
	text-align: center;
	margin: 40px 0;
	font-size: 30px;
	font-weight: 700;
}

.box input {
	display: block;
	width: 350px;
	margin: 10px auto;
	padding: 12px;
	background: rgba(0, 0, 0, 0.2);
	border: 0;
}

.box input:focus, .box input:active, .box button:focus, .box button:active
	{
	outline: none;
}

.box b {
	color: #333333;
}

.box button {
	align: center;
	background: #263343;
	color: #cacaca;
	padding: 12px;
	font-size: 20px;
	width: 350px;
	margin: 10px auto;
	display: block;
	cursor: pointer;
	border: 0;
}

.box button:hover {
	background: #6c89ac;
}

.box p {
	margin-top: 40px;
	font-size: 16px;
	text-align: center;
}

.box p span:hover {
	cursor: pointer;
	color: #C60B05;
}

.box p span {
	margin-top: 40px;
	text-align: center;
	font: 16px bolder italic;
}

.box p span a {
	color: #C60B05;
	font-style: italic;
	text-decoration: none;
}

.box .findid {
	font-size: 14px;
	padding: 10px;
	color: #333333;
	text-decoration: none;
}

.box .findpw {
	font-size: 14px;
	padding: 10px;
	color: #333333;
	text-decoration: none;
}

/*회원가입 폼*/
@import
	url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	max-width: 1000px;
	width: 100%;
	margin: 100px auto;
}

.wrapper .title {
	margin-top: 30px;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 70px;
	color: #34455a;
	text-transform: uppercase;
	text-align: center;
}

.wrapper .form .inputfield {
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.wrapper .form .inputfield label {
	width: 170px;
	color: #34455a;
	font-size: 18px;
	font-weight: bolder;
}

.wrapper .form .inputfield .input {
	padding-left: 10px;
	height: 40px;
	width: 500px;
	outline: none;
	border: 1px solid #d5dbd9;
	font-size: 15px;
	border-radius: 3px;
}

.wrapper .form .inputfield .input1 {
	padding-left: 10px;
	height: 40px;
	width: 150px;
	outline: none;
	border: 1px solid #d5dbd9;
	font-size: 15px;
	border-radius: 3px;
}

.wrapper .form .inputfield .input2 {
	padding-left: 10px;
	height: 40px;
	width: 235px;
	outline: none;
	border: 1px solid #d5dbd9;
	font-size: 15px;
	border-radius: 3px;
}

.wrapper .form .inputfield p {
	font-size: 15px;
	font-weight: bolder;
	margin: 20px 20px;
}

.wrapper .form .inputfield .check {
	width: 15px;
	height: 15px;
	position: relative;
	display: block;
	cursor: pointer;
}

.wrapper .form .inputfield .check input[type="checkbox"] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.wrapper .form .inputfield .check .checkmark {
	width: 15px;
	height: 15px;
	border: 1px solid #263343;
	display: block;
	position: relative;
}

.wrapper .form .inputfield .check .checkmark:before {
	content: "";
	position: absolute;
	top: 1px;
	left: 2px;
	width: 5px;
	height: 2px;
	border: 2px solid;
	border-color: transparent;
	display: none;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~
	.checkmark {
	background: #263343;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~
	.checkmark:before {
	display: block;
}

.wrapper .form .inputfield .btn {
	width: 1000px;
	height: 60px;
	padding: 8px 10px;
	font-size: 18px;
	font-weight: bolder;
	border: 0px;
	background: #263343;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	outline: none;
}

.wrapper .form .inputfield .button-chk {
	margin-left: 30px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid gray;
	color: #263343;
	font-size: 14px;
}

.wrapper .form .inputfield #save {
	background-color: #fff;
	border: none;
}

.wrapper .form .inputfield .savebox {
	display: flex;
	margin: 10px 0;
}

.wrapper .form .terms {
	margin: 100px 0 40px 0;
}

.button-chk {
	width: 100px;
	height: 40px;
	margin: 10px 10px;
	font-size: 15px;
	border: 0px;
	background: #263343;
	color: #fff;
	cursor: pointer;
	border-radius: 3px;
	outline: none;
}

.button-chk:hover {
	background: #6c89ac;
}

.wrapper .form .inputfield .btn:hover {
	background: #6c89ac;
}

/*마이페이지*/
.mypage {
	background-color: #E6E6E6;
	position: relative;
	height: auto;
	padding: 30px;
	text-align: center;
	border-radius: 1em;
	width: 800px;
	margin: auto;
}

.mybook1 {
	border: solid;
	border-width: 1px;
	border-color: #3B3939;
	width: 450px;
	height: auto;
	width: 800px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5em;
}

.mybook2 {
	border: solid;
	border-width: 1px;
	border-color: #3B3939;
	width: 450px;
	height: auto;
	margin-top: 40px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.5em;
}

table {
	margin-left: auto;
	margin-right: auto;
}

#btn {
	margin: auto;
}

/*멤버십*/
#membership {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	border: 1px solid #EAEAE8;
	padding: 30px;
	line-height: 1.5;
	background: #F9F9F7;
	zoom: 1;
	height: 1300px;
}

#membership .user .title p {
	line-height: 140%;
	margin-top: 15px;
	font-size: 13px;
	font-weight: 400;
	color: #858585;
	font-style: italic;
}

#membership .title #membox {
	display: inline-table;
}

#membership .mem-img {
	width: 70px;
	height: 110px;
}

#membership #plaid, #membership #diaid {
	object-fit: contain;
}

#membership table thead tr {
	height: 150px;
}

#membership table thead {
	border-bottom: 2px solid #EAEAE8;
}

#membership table tbody tr {
	height: 165px;
	border-bottom: 1px solid #EAEAE8;
}

#membership table {
	font-family: 'Montserrat', sans-serif;
	color: #6c6c6c;
	font-size: 14px;
	font-weight: 400;
}

#membership .mem-ul {
	font-size: 13px;
	color: #858585;
	font-style: italic;
	margin-top: 40px;
}

#membership .mem-ul dt {
	font-weight: bolder;
	font-size: 13px;
}

#membership table tbody .reserve-tr td a {
	font-weight: bolder;
	font-size: 20px;
}

#membership table tbody .sil-td {
	background-color: #f8f8f8;
}

#membership table tbody .gol-td {
	background-color: #fffcf5;
}

#membership table tbody .pla-td {
	background-color: #f6f9fe;
}

#membership table tbody .dia-td {
	background-color: #fff8e8;
}
/*마이페이지*/
.page-tit h2 strong {
	font-weight: 700;
	font-family: 'Nanum Myeongjo', serif;
}

.page-tit p {
	line-height: 140%;
	margin-top: 15px;
	font-size: 13px;
	font-weight: 400;
	color: #858585;
	text-align: center;
}

.page-body {
	min-height: 300px;
}

#mypage {
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	border: 1px solid #EDECEB;
	padding: 49px;
	background: white;
}

#mypage .user {
	zoom: 1;
	overflow: hidden;
	line-height: 1.5;
	padding: 40px;
	border: 1px solid #EAEAE8;
	background: #F9F9F7;
}

#mypage .user a {
	float: left;
	color: #848484;
	text-decoration: none;
	text-align: right;
}

#mypage .user .info {
	width: 100%;
	margin: 0 0 30px 0;
	border-left: none;
}

#mypage .user .info .grp a {
	width: 160px;
	margin: 0px 40px;
	border-left: none;
}

#mypage .user .info .profile_img {
	float: left;
	width: 100px;
	height: 100px;
	border: 1px solid #fafafa;
}

#mypage .user .info .profile_img i {
	font-size: 7em;
	font-weight: 200;
	color: #405867;
}

#mypage .user .info dl {
	margin-left: 200px;
	padding-left: 155px;
}

#mypage .user .info dl div {
	margin-left: 10px;
}

#mypage .user .info dl dt {
	width: 100%;
	line-height: 1;
	margin-bottom: 15px;
	font-size: 31px;
	color: #3F5866;
	font-weight: 200;
}

#mypage .user .info dl dt i {
	width: 5px;
}

#mypage .user .info dl dd {
	width: 100%;
	margin-top: 5px;
	text-align: left;
}

#mypage .user .info label {
	display: inline-block;
	width: 50px;
}

#mypage .user .info em {
	padding: 0 10px;
}

.user .memgroup {
	width: 100px;
	float: left;
	margin-top: -33px;
}

#mypage .user .grp {
	margin: 30px 0 0 0px;
	line-height: 160%;
}

#mypage .user .grp img {
	width: 70px;
	height: 110px;
	float: left;
	color: #405867;
	margin-left: -10px;
	margin-top: -15px;
}

#mypage .user .grp p {
	margin-left: 100px;
	font-weight: bolder;
	margin-top: 40px;
}

#mypage .user .user_set {
	overflow: hidden;
	margin-top: 125px;
}

#mypage .user .user_set .coupon {
	margin-left: 0;
	border: none;
}

#mypage .user .user_set .coupon dl {
	border-left: 0 none;
}

#mypage .user .user_set dl dt {
	margin-bottom: 15px;
	color: #393939;
	font-size: 17px;
}

#mypage .user .user_set dl dd {
	text-align: right;
}

#mypage .user .user_set dl dd i {
	float: left;
	color: #405867;
	font-size: 20px;
}

#mypage .user .user_set .column {
	overflow: hidden;
	float: left;
	margin-left: 80px;
	border-left: 1px solid #E1E1DF;
}

#mypage .user .user_set .column dd i {
	
}

#mypage .user .user_set dl {
	overflow: hidden;
	width: 178px;
	padding: 10px 0 10px 45px;
	border-left: 1px solid #FFF;
	font-size: 15px;
	color: #848484;
}

#mypage .modify {
	margin-top: 10px;
	text-align: right;
}

.btn_set .abtn {
	height: 28px;
	line-height: 26px;
	font-size: 11px;
	border-color: #627581;
	background: #627581;
	color: #fff;
	display: inline-block;
	min-width: 60px;
	padding: 0 18px;
	border-width: 1px;
	border-style: solid;
	text-align: center;
	letter-spacing: -1px;
	vertical-align: top;
	transition: all .2s ease-in-out;
	text-decoration: none;
}

#mypage .hd {
	position: relative;
	margin-top: 80px;
}

#mypage .hd h3 {
	padding-bottom: 10px;
	color: #060606;
	font-size: 19px;
	font-weight: 400;
	letter-spacing: -0.06em;
}

.sp_corp_btn {
	display: inline-block;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
	vertical-align: top;
}

#mypage .tbl {
	border-bottom: 1px solid #EAEAE8;
}

#mypage .tbl tbody img {
	width: 100px;
	height: 150px;
	border-radius: 5px;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	word-wrap: break-word;
	word-break: keep-all;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

tr {
	display: table-row;
	vertical-align: inherit;
	text-align: center;
}

#mypage .tbl th {
	padding: 13px 0;
	border-top: 1px solid #EAEAE8;
	border-bottom: 1px solid #EAEAE8;
	color: #848484;
	font-size: 15px;
	font-weight: 400;
}

#mypage .tbl td {
	padding: 12px;
	border-top: 1px solid #EAEAE8;
	font-size: 15px;
	color: #393939;
}

#mypage .colum2 {
	float: left;
	width: 48%;
}

#mypage #totalgenre {
	display: none;
}

.profile_img #btn {
	position: relative;
	border: hidden;
}

.profile_img #imgx {
	width: 310px;
	height: 350px;
	border-radius: 10px;
}

.profile_img #imgbox {
	display: none;
}

#mypage #toggle-chart {
	border: none;
	background-color: #fff;
}

#mypage #usergenre, #mypage #totalgenre {
	margin-top: 100px;
}

#mypage #usergenre #pie {
	border-bottom: 1px solid #EAEAE8;
	margin-bottom: 100px;
}

#mypage #myTable{
	
}

/*회원정보 수정*/
.container .joinupdate {
	position: relative;
	width: 1100px;
	margin: 0 auto;
	margin-top: 130px;
}

.container .joinupdate .row {
	padding: 0 49px 49px;
	background: white;
}

.container .joinupdate .row  form {
	margin: 0;
	padding: 0;
}

.joinupdate #sub1 {
	border: 1px solid #EDECEB;
	padding: 0 49px 49px;
	background: white;
}

.joinupdate .tit-join {
	margin: 50px 0 10px;
	color: #34455a;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: -0.06em;
	font-weight: bolder;
}

.joinupdate .wrapper #nameform span {
	font-weight: bolder;
	padding-bottom: 9px;
	font-size: 17px;
}

.joinupdate .wrapper #idform span {
	font-weight: bolder;
	padding-bottom: 9px;
	font-size: 17px;
}

.joinupdate .wrapper #profilebox {
	margin: 100px 0 20px 0;
}

/*id, pwd 찾기*/
.search-box .box .submit {
	background: #263343;
	color: #cacaca;
	cursor: pointer;
	letter-spacing: 5px;
	font-size: 21px;
	font-family: 'Nanum Myeongjo', serif;
}
.search-box .box .subsearch-box{
font-size: 13px; 
padding: 10px;
text-align: center;
}
.search-box .box .subsearch-box a{
text-decoration: none;
color: #34455a;
}